.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('/images/background.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  gap: 20px;
}

.main__title {
  color: white;
  margin: 0;
  font-size: 40px;
}

.main__button {
  display: inline-block;
  padding: 20px 40px;
  background: linear-gradient(to right, #ffcc00, #ff6600);
  color: white;
  font-size: 24px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 500px;
  letter-spacing: 2px;

  @media screen and (max-width: 767px) {
    width: 90%;
  }
}

.main__button:hover {
  background: linear-gradient(to right, #ff6600, #ffcc00);
}
